<!doctype html>
<html>
<head>
    <title>nodeChat</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<div id="nick">
    <label for="u">Nickname: </label>
    <input id="u" autocomplete="off"/> <br/>
</div>

<div id="chat">
    <ul id="messages"></ul>
</div>


<form action="">
    <label for="m">Message: </label>
    <input id="m" autocomplete="off" autofocus/>
    <button/>
</form>

<a href="/auth/facebook">Login with Facebook</a>
<a href="/logout">Logout</a>
<a href="/profile">Profile</a>




<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script>
    var socket = io();

    $('#u').change(function () {
        socket.emit('nick', $('#u').val());
    });

    $('form').submit(function () {
        if ($('#u').val().length < 3)
            window.alert("User name too short");
        else if ($('#m').val().length < 1)
            window.alert("Please type a message");
        else {
            socket.emit('chat message', $('#m').val());
            $('#m').val('');
            $('#m').focus();
        }
        return false;
    });

    socket.on('chat message', function (msg) {
        $('#messages').append($('<li>').text(msg));
        if ($('#messages').find('li').length > 30) {
            $('#messages').children('li').eq(1).remove();
        }
    });

    socket.on('user connected', function (user) {
        $('#messages').append($('<li>').text(user));
    });

</script>
</body>
</html>

